@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000d6b;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}
a {
    text-decoration: none;
    color: unset;
  }
  
  a:hover {
    color: unset;
  }
  ul {
    margin: 0;
    list-style: none;
  } 
  
  section {
    padding: 50px 0px;
  }
  .find_cars-left {
    background: linear-gradient(rgb(249, 168, 38, 0.9), rgb(249, 168, 38, 0.9)),
      url("../src/assets/all_images/toyota.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 35px;
   
  }
  .slider__item-01 {
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
      url("../src/assets/all_images/slider_img/slider_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .become__driver {
    background: linear-gradient(rgb(0, 13, 107, 0.9), rgb(0, 13, 107, 0.9)),
      url("../src/assets/all_images/drive.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
  }
  .common__section {
    background: linear-gradient(rgb(0, 13, 107, 0.6), rgb(0, 13, 107, 0.6)),
      url("../src/assets/all_images/drive.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
  }
  .service__item span i {
    font-size: 2.5rem;
    color: #f9a826;
    
  }
  .journey__time::before {
    content: "Journey time";
    margin-right: 0.8rem;
    color: #7c8a97;
  }
  .single__member-social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    position: absolute;
    top: -100%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgb(0, 13, 107, 0.6);
    transform: translateX(-50%);
    border-radius: 4px;
    transition: 0.5s ease;
    opacity: 0;
  }
  .single__member-img {
    position: relative;
    cursor: pointer;
  }
.single__member-img:hover .single__member-social {
  top: 0;
  opacity: 1;
}
  /* .section__title {
    color: #000d6b;
    font-weight: 600;
    font-size: 2rem;
  }
  
  .section__subtitle {
    color: #f9a826;
    font-weight: 600;
    font-size: 1.2rem;
  } */
  
  /* .section__description {
    color: #7c8a97;
    font-size: 0.9rem;
    line-height: 30px;
  } */
  
  /* .btn {
    padding: 7px 15px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.3s;
  } */
  
  /* .btn:hover {
    color: #fff !important; 
     background: #000c6bd0; 
  } */
  
  /* @media only screen and (max-width: 768px) {
    section {
      padding: 30px 0px;
    }
  
    .section__title {
      font-size: 1.6rem;
    }
  
    .section__subtitle {
      font-size: 1.1rem;
    }
  } */